* {
  box-sizing: border-box; }

h1, h2, h3, p, a, ul, ol {
  margin: 0;
  padding: 0; }

input, button, submit {
  border: none; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

body {
  margin: 0;
  background-color: #F7F8FB;
  font-family: 'Nunito', sans-serif;
  font-size: 14px; }
  body div.App {
    display: relative; }
    body div.App.panel-show section.panel {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px) scale(1); }
    body div.App div.tables {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 5px; }
      @media (min-width: 500px) {
        body div.App div.tables {
          flex-direction: row; } }
      body div.App div.tables div.table-outer {
        border-radius: 5px;
        padding: 3px;
        margin: 10px;
        transition: width 250ms; }
        body div.App div.tables div.table-outer.red {
          background-color: #E57D73; }
          body div.App div.tables div.table-outer.red table tr td {
            color: #C76C63; }
            body div.App div.tables div.table-outer.red table tr td.empty {
              background-color: #E57D73; }
        body div.App div.tables div.table-outer.blue {
          background-color: #73B7E5;
          display: none; }
          body div.App div.tables div.table-outer.blue table tr td {
            color: #69A8D2; }
            body div.App div.tables div.table-outer.blue table tr td.empty {
              background-color: #73B7E5; }
          @media (min-width: 700px) {
            body div.App div.tables div.table-outer.blue {
              display: block; } }
        body div.App div.tables div.table-outer.green {
          background-color: #76D77A; }
          body div.App div.tables div.table-outer.green table tr td {
            color: #68BE6C; }
            body div.App div.tables div.table-outer.green table tr td.empty {
              background-color: #76D77A; }
        body div.App div.tables div.table-outer table {
          background-color: white;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          padding: 5px;
          width: 100%; }
          body div.App div.tables div.table-outer table tr td {
            font-size: 10px;
            font-weight: 700;
            color: white;
            text-align: center;
            margin: 5px;
            padding: 10px 0;
            border-radius: 5px; }
            @media (min-width: 500px) {
              body div.App div.tables div.table-outer table tr td {
                font-size: 12px; } }
            @media (min-width: 700px) {
              body div.App div.tables div.table-outer table tr td {
                font-size: 14px; } }
            body div.App div.tables div.table-outer table tr td.empty {
              opacity: 0.15; }
        body div.App div.tables div.table-outer div.controls {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 10px; }
          @media (min-width: 500px) {
            body div.App div.tables div.table-outer div.controls {
              flex-direction: row; } }
          body div.App div.tables div.table-outer div.controls p {
            color: white;
            font-weight: 700; }
          body div.App div.tables div.table-outer div.controls button {
            display: flex;
            background-color: transparent;
            align-items: center;
            padding: 7px;
            padding-right: 15px;
            border-radius: 100px;
            cursor: pointer;
            transition: background-color 350ms; }
            body div.App div.tables div.table-outer div.controls button:hover {
              background-color: rgba(255, 255, 255, 0.15); }
              body div.App div.tables div.table-outer div.controls button:hover svg {
                transform: rotate(30deg); }
              body div.App div.tables div.table-outer div.controls button:hover span {
                opacity: 1;
                visibility: visible;
                transform: translateX(0px); }
            body div.App div.tables div.table-outer div.controls button svg {
              width: 20px;
              height: 20px;
              transition: transform 350ms; }
              body div.App div.tables div.table-outer div.controls button svg path {
                fill: white; }
            body div.App div.tables div.table-outer div.controls button span {
              opacity: 0;
              visibility: hidden;
              transform: translateX(-7px);
              margin-left: 7px;
              margin-top: -2px;
              color: white;
              font-weight: 700;
              transition: opacity 350ms, visibility 350ms, transform 350ms; }
    body div.App section.panel {
      visibility: hidden;
      opacity: 0;
      transform: translateY(25px) scale(0.97);
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 300px;
      height: auto;
      left: calc(50vw - 150px);
      bottom: 50px;
      border-radius: 5px;
      border: 1px solid white;
      overflow: hidden;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.05), 0px 0px 11px rgba(0, 0, 0, 0.03), 0px 0px 32px rgba(0, 0, 0, 0.08);
      background-color: white;
      transition: opacity 250ms, visibility 250ms, transform 250ms; }
      body div.App section.panel.red main h1 {
        color: #C76C63; }
      body div.App section.panel.red footer button.ok {
        background-color: #E57D73; }
        body div.App section.panel.red footer button.ok:hover {
          background-color: #C76C63; }
      body div.App section.panel.red footer button.cancel {
        color: #C76C63; }
      body div.App section.panel.blue main h1 {
        color: #69A8D2; }
      body div.App section.panel.blue footer button.ok {
        background-color: #73B7E5; }
        body div.App section.panel.blue footer button.ok:hover {
          background-color: #69A8D2; }
      body div.App section.panel.blue footer button.cancel {
        color: #69A8D2; }
      body div.App section.panel.green main h1 {
        color: #68BE6C; }
      body div.App section.panel.green footer button.ok {
        background-color: #76D77A; }
        body div.App section.panel.green footer button.ok:hover {
          background-color: #68BE6C; }
      body div.App section.panel.green footer button.cancel {
        color: #68BE6C; }
      body div.App section.panel main {
        flex: 1;
        background-color: white; }
        body div.App section.panel main h1 {
          padding-top: 25px;
          padding-bottom: 22px;
          margin: 0 25px;
          background-color: white;
          font-size: 14px;
          letter-spacing: 2.5px;
          font-weight: 900;
          text-transform: uppercase;
          text-align: center;
          transition: color 250ms;
          border-bottom: 2px solid rgba(0, 0, 0, 0.05); }
        body div.App section.panel main div.inputs {
          padding: 25px; }
          body div.App section.panel main div.inputs input {
            border: 1px solid rgba(0, 0, 0, 0.05);
            padding: 15px;
            border-radius: 3px; }
      body div.App section.panel footer {
        display: flex;
        justify-content: flex-end;
        background-color: #F7F8FB;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        padding: 20px; }
        body div.App section.panel footer button {
          box-sizing: border-box;
          padding: 15px 20px;
          border-radius: 4px;
          font-size: 10px;
          letter-spacing: 2px;
          font-weight: 900;
          text-transform: uppercase;
          cursor: pointer;
          transition: all 250ms; }
          body div.App section.panel footer button.ok {
            color: white; }
          body div.App section.panel footer button.cancel {
            background-color: transparent;
            margin-right: 10px; }
            body div.App section.panel footer button.cancel:hover {
              background-color: white; }
