* {
  box-sizing: border-box; }

h1, h2, h3, p, a, ul, ol {
  margin: 0;
  padding: 0; }

input, button, submit {
  border: none; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

body {
  margin: 0;
  background-color: #F7F8FB;
  font-family: 'Nunito', sans-serif;
  font-size: 14px; }
  body div.App {
    position: relative;
    perspective: 2000px;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw; }
    body div.App.panel-show section.panel {
      visibility: visible;
      opacity: 1;
      transform: rotateY(0deg); }
    body div.App div.tables {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 5px; }
      @media (min-width: 500px) {
        body div.App div.tables {
          flex-direction: row; } }
      body div.App div.tables div.table-outer {
        border-radius: 5px;
        overflow: hidden;
        margin: 10px;
        transition: width 250ms;
        border: solid 1px rgba(0, 0, 0, 0.03); }
        body div.App div.tables div.table-outer.red table tr td {
          color: #C76C63; }
          body div.App div.tables div.table-outer.red table tr td.empty {
            background-color: #E57D73; }
        body div.App div.tables div.table-outer.red div.controls {
          background-color: #E57D73; }
        body div.App div.tables div.table-outer.blue {
          display: none; }
          body div.App div.tables div.table-outer.blue table tr td {
            color: #69A8D2; }
            body div.App div.tables div.table-outer.blue table tr td.empty {
              background-color: #73B7E5; }
          body div.App div.tables div.table-outer.blue div.controls {
            background-color: #73B7E5; }
          @media (min-width: 700px) {
            body div.App div.tables div.table-outer.blue {
              display: block; } }
        body div.App div.tables div.table-outer.green table tr td {
          color: #68BE6C; }
          body div.App div.tables div.table-outer.green table tr td.empty {
            background-color: #76D77A; }
        body div.App div.tables div.table-outer.green div.controls {
          background-color: #76D77A; }
        body div.App div.tables div.table-outer table {
          background-color: white;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          padding: 5px;
          width: 100%; }
          body div.App div.tables div.table-outer table tr td {
            font-size: 10px;
            font-weight: 700;
            color: white;
            text-align: center;
            margin: 5px;
            padding: 10px 0;
            border-radius: 5px; }
            @media (min-width: 500px) {
              body div.App div.tables div.table-outer table tr td {
                font-size: 12px; } }
            @media (min-width: 700px) {
              body div.App div.tables div.table-outer table tr td {
                font-size: 14px; } }
            body div.App div.tables div.table-outer table tr td.empty {
              opacity: 0.15; }
        body div.App div.tables div.table-outer div.controls {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 10px; }
          @media (min-width: 500px) {
            body div.App div.tables div.table-outer div.controls {
              flex-direction: row; } }
          body div.App div.tables div.table-outer div.controls p {
            color: white;
            font-weight: 700; }
          body div.App div.tables div.table-outer div.controls button {
            display: flex;
            background-color: transparent;
            align-items: center;
            padding: 7px;
            padding-right: 8px;
            border-radius: 100px;
            cursor: pointer;
            transition: background-color 350ms, padding 350ms; }
            body div.App div.tables div.table-outer div.controls button:hover {
              background-color: rgba(255, 255, 255, 0.15);
              padding-right: 15px; }
              body div.App div.tables div.table-outer div.controls button:hover svg {
                transform: rotate(30deg); }
              body div.App div.tables div.table-outer div.controls button:hover span {
                opacity: 1;
                visibility: visible;
                transform: translateX(0px); }
            body div.App div.tables div.table-outer div.controls button svg {
              width: 20px;
              height: 20px;
              transition: transform 350ms; }
              body div.App div.tables div.table-outer div.controls button svg path {
                fill: white; }
            body div.App div.tables div.table-outer div.controls button span {
              opacity: 0;
              visibility: hidden;
              transform: translateX(-7px);
              margin-left: 7px;
              margin-top: -2px;
              color: white;
              font-weight: 700;
              transition: opacity 350ms, visibility 350ms, transform 350ms; }
    body div.App section.panel {
      visibility: hidden;
      opacity: 0;
      transform-origin: right;
      transform: rotateY(20deg);
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 300px;
      height: auto;
      right: 50px;
      bottom: 50px;
      border-radius: 5px;
      border: 1px solid white;
      overflow: hidden;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.05), 0px 0px 11px rgba(0, 0, 0, 0.03), 0px 0px 32px rgba(0, 0, 0, 0.08);
      background-color: white;
      transition: opacity 250ms, visibility 250ms, transform 250ms; }
      body div.App section.panel.red main h1 {
        color: #C76C63; }
      body div.App section.panel.red main div.inputs div label {
        background-color: #E57D73; }
      body div.App section.panel.red main div.select-outer label {
        background-color: #E57D73; }
      body div.App section.panel.red footer button.ok {
        background-color: #E57D73; }
        body div.App section.panel.red footer button.ok:hover {
          background-color: #C76C63; }
      body div.App section.panel.red footer button.cancel {
        color: #C76C63; }
      body div.App section.panel.blue main h1 {
        color: #69A8D2; }
      body div.App section.panel.blue main div.inputs div label {
        background-color: #73B7E5; }
      body div.App section.panel.blue main div.select-outer label {
        background-color: #73B7E5; }
      body div.App section.panel.blue footer button.ok {
        background-color: #73B7E5; }
        body div.App section.panel.blue footer button.ok:hover {
          background-color: #69A8D2; }
      body div.App section.panel.blue footer button.cancel {
        color: #69A8D2; }
      body div.App section.panel.green main h1 {
        color: #68BE6C; }
      body div.App section.panel.green main div.inputs div label {
        background-color: #76D77A; }
      body div.App section.panel.green main div.select-outer label {
        background-color: #76D77A; }
      body div.App section.panel.green footer button.ok {
        background-color: #76D77A; }
        body div.App section.panel.green footer button.ok:hover {
          background-color: #68BE6C; }
      body div.App section.panel.green footer button.cancel {
        color: #68BE6C; }
      body div.App section.panel main.parameters {
        flex: 1;
        background-color: white; }
        body div.App section.panel main.parameters h1 {
          padding-top: 25px;
          padding-bottom: 22px;
          margin: 0 50px;
          background-color: white;
          font-size: 14px;
          letter-spacing: 2.5px;
          font-weight: 900;
          text-transform: uppercase;
          text-align: center;
          transition: color 250ms;
          border-bottom: 2px solid rgba(0, 0, 0, 0.05); }
        body div.App section.panel main.parameters div.inputs {
          padding: 25px 50px;
          padding-bottom: 0px; }
          body div.App section.panel main.parameters div.inputs div {
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 25px;
            padding: 1px; }
            body div.App section.panel main.parameters div.inputs div label {
              display: flex;
              justify-content: space-between;
              font-size: 10px;
              padding: 1px 5px;
              letter-spacing: 2px;
              font-weight: 900;
              text-transform: uppercase;
              color: white;
              text-align: center;
              transition: background-color 350ms;
              border-bottom-left-radius: 3px;
              border-bottom-right-radius: 3px; }
            body div.App section.panel main.parameters div.inputs div input {
              background-color: white;
              border: 1px solid rgba(0, 0, 0, 0.05);
              color: #6C747E;
              font-size: 14px;
              font-family: 'Nunito', sans-serif;
              border-bottom: none;
              padding: 15px;
              border-top-left-radius: 3px;
              border-top-right-radius: 3px; }
        body div.App section.panel main.parameters div.select-outer {
          margin: 25px 50px;
          position: relative;
          border-radius: 3px;
          overflow: hidden;
          padding: 1px;
          transition: background-color 350ms; }
          body div.App section.panel main.parameters div.select-outer::before, body div.App section.panel main.parameters div.select-outer::after {
            content: "";
            position: absolute;
            pointer-events: none; }
          body div.App section.panel main.parameters div.select-outer::before {
            width: 8px;
            height: 8px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            border: 1px solid #737273;
            border-radius: 1px;
            top: 18px;
            right: 12px; }
          body div.App section.panel main.parameters div.select-outer::after {
            background-color: #fff;
            width: 15px;
            height: 6px;
            top: 20px;
            right: 9px; }
          body div.App section.panel main.parameters div.select-outer label {
            display: flex;
            justify-content: space-between;
            font-size: 10px;
            padding: 1px 5px;
            letter-spacing: 2px;
            font-weight: 900;
            text-transform: uppercase;
            color: white;
            text-align: center;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            transition: background-color 350ms; }
          body div.App section.panel main.parameters div.select-outer select {
            min-width: 100px;
            width: 100%;
            -webkit-appearance: none;
            color: #6C747E;
            font-size: 14px;
            font-family: 'Nunito', sans-serif;
            appearance: none;
            border: none;
            border: 1px solid rgba(0, 0, 0, 0.05);
            border-radius: 0;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 15px;
            background-color: #fff; }
      body div.App section.panel footer {
        display: flex;
        justify-content: flex-end;
        background-color: #F7F8FB;
        padding: 15px 25px;
        border-top: 1px solid rgba(0, 0, 0, 0.03); }
        body div.App section.panel footer button {
          box-sizing: border-box;
          padding: 12px 20px;
          border-radius: 4px;
          font-size: 10px;
          letter-spacing: 2px;
          font-weight: 900;
          text-transform: uppercase;
          cursor: pointer;
          transition: all 350ms; }
          body div.App section.panel footer button.ok {
            color: white; }
          body div.App section.panel footer button.cancel {
            background-color: transparent;
            margin-right: 10px;
            padding: 12px 10px; }
            body div.App section.panel footer button.cancel:hover {
              background-color: white; }
