$bg: #F7F8FB;
$text: #6C747E;
$red: #E57D73;
$red-text: #C76C63;
$blue: #73B7E5;
$blue-text: #69A8D2;
$green: #76D77A; 
$green-text: #68BE6C;
$grey: #F0EDEA;
$outline-lt: rgba(0,0,0,0.03);
$outline: rgba(0,0,0,0.05);
$time-std: 250ms;
$time-plus: 350ms;
$phone: 500px;
$tablet: 700px;
$shadow:
    0px 0px 3px rgba(0,0,0,0.05),
    0px 0px 11px rgba(0,0,0,0.03),
    0px 0px 32px rgba(0,0,0,0.08);

* {
    box-sizing: border-box;
}

h1, h2, h3, p, a, ul, ol {
    margin: 0;
    padding: 0;
}

input, button, submit { border:none; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
    margin: 0;
    background-color: $bg;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;

    div.App {
        position: relative;
        perspective: 2000px;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;

        &.panel-show {

            section.panel {
                visibility: visible;
                opacity: 1;
                transform: rotateY(0deg); 
            }
        }

        div.tables {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 5px;

            @media(min-width: $phone) {
                flex-direction: row;
            }
    
            div.table-outer {
                border-radius: 5px;
                overflow: hidden;
                margin: 10px;
                transition: width $time-std;
                border: solid 1px $outline-lt;
        
                &.red {

                    table tr td {
                        color: $red-text;

                        &.empty {
                            background-color: $red;
                        }
                    }

                    div.controls {
                        background-color: $red;
                    }
                }
        
                &.blue {
                   
                    display: none;

                    table tr td {
                        color: $blue-text;

                        &.empty {
                            background-color: $blue;
                        }
                    }

                    div.controls {
                        background-color: $blue;
                    }
    
                    @media(min-width: $tablet) {
                        display: block;
                    }
                }
        
                &.green {
                    
                    table tr td {
                        color: $green-text;

                        &.empty {
                            background-color: $green;
                        }
                    }

                    div.controls {
                        background-color: $green;
                    }
                }
        
                table {
                    background-color: white;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    padding: 5px;
                    width: 100%;
        
                    tr {
                        td {
                            font-size: 10px;
                            font-weight: 700;
                            color: white;
                            text-align: center;
                            margin: 5px;
                            padding: 10px 0;
                            border-radius: 5px;

                            @media(min-width: $phone) {
                                font-size: 12px;
                            }

                            @media(min-width: $tablet) {
                                font-size: 14px;
                            }

                            &.empty {
                                opacity: 0.15;
                            }
                        }
                    }
                }
        
                div.controls {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;

                    @media(min-width: $phone) {
                        flex-direction: row;
                    }

                    p {
                        color: white;
                        font-weight: 700;
                    }

                    button {
                        display: flex;
                        background-color: transparent;
                        align-items: center;
                        padding: 7px;
                        padding-right: 8px;
                        border-radius: 100px;
                        cursor: pointer;
                        transition: 
                            background-color $time-plus,
                            padding $time-plus;

                        &:hover {
                            background-color: rgba(255,255,255,0.15);
                            padding-right: 15px;
                            svg {
                                transform: rotate(30deg);
                            }
                            span {
                                opacity: 1;
                                visibility: visible;
                                transform: translateX(0px);
                            }
                        }

                        svg {
                            width: 20px;
                            height: 20px;
                            transition: transform $time-plus;

                            path {
                                fill: white;
                            }
                        }

                        span {
                            opacity: 0;
                            visibility: hidden;
                            transform: translateX(-7px);
                            margin-left: 7px;
                            margin-top: -2px;
                            color: white;
                            font-weight: 700;
                            transition:
                                opacity $time-plus,
                                visibility $time-plus,
                                transform $time-plus;
                        }
                    }
                }
            }
        }

        section.panel {
            $size: 300px;
            visibility: hidden;
            opacity: 0;
            transform-origin: right;
            transform: rotateY(20deg);
    
            position: absolute;
            display: flex;
            flex-direction: column;
            width: $size;
            height: auto;
            // left: calc(50vw - #{$size/2});
            right: 50px;
            bottom: 50px;
            // top: calc(50vh - )
            border-radius: 5px;
            border: 1px solid white;
            overflow:hidden;
            box-shadow: $shadow;
            background-color: white;
            transition: 
                opacity $time-std,
                visibility $time-std,
                transform $time-std;
            
            &.red {

                main {
                    h1 { 
                        color: $red-text; 
                    }

                    div.inputs div label {
                        background-color: $red;
                    }

                    div.select-outer label {
                        background-color: $red;
                    }
                } 

                footer button {
                    &.ok {
                        background-color: $red;

                        &:hover {
                            background-color: $red-text;
                        }
                    }
                    &.cancel {
                        color: $red-text;
                    }
                }
            }

            &.blue {

                main {
                    h1 { color: $blue-text; }
                    
                    div.inputs div label {
                        background-color: $blue;
                    }

                    div.select-outer label {
                        background-color: $blue;
                    }
                } 

                footer button {
                    &.ok {
                        background-color: $blue;

                        &:hover {
                            background-color: $blue-text;
                        }
                    }
                    &.cancel {
                        color: $blue-text;
                    }
                }
            }

            &.green {

                main {
                    h1 { color: $green-text; }
                    
                    div.inputs div label {
                        background-color: $green;
                    }

                    div.select-outer label {
                        background-color: $green;
                    }
                } 

                footer button {
                    &.ok {
                        background-color: $green;

                        &:hover {
                            background-color: $green-text;
                        }
                    }
                    &.cancel {
                        color: $green-text;
                    }
                }
            }

            main.parameters {
                flex: 1;
                background-color: white;

                h1 {
                    padding-top: 25px;
                    padding-bottom: 22px;
                    margin: 0 50px;
                    background-color: white;
                    font-size: 14px;
                    letter-spacing: 2.5px;
                    font-weight: 900;
                    text-transform: uppercase;
                    text-align: center;
                    transition: color $time-std;
                    border-bottom: 2px solid $outline;
                }

                div.inputs {
                    padding: 25px 50px;
                    padding-bottom: 0px;

                    div {
                        display: flex;
                        flex-direction: column;
                        border-radius: 5px;
                        overflow: hidden;
                        margin-bottom: 25px;
                        padding: 1px;

                        label {
                            display: flex;
                            justify-content: space-between;
                            font-size: 10px;
                            padding: 1px 5px;
                            letter-spacing: 2px;
                            font-weight: 900;
                            text-transform: uppercase;
                            color: white;
                            text-align: center;
                            transition: background-color $time-plus;
                            border-bottom-left-radius: 3px;
                            border-bottom-right-radius: 3px;
                        }

                        input {
                            background-color: white;
                            border: 1px solid $outline;
                            color: $text;
                            font-size: 14px;
                            font-family: 'Nunito', sans-serif;
                            border-bottom: none;
                            padding: 15px;
                            border-top-left-radius: 3px;
                            border-top-right-radius: 3px;
                        }
                    }
                }

                div.select-outer {
                    margin: 25px 50px;
                    position: relative;
                    border-radius: 3px;
                    overflow: hidden;
                    padding: 1px;
                    transition: background-color $time-plus;

                    &::before , &::after {
                        content: "";
                        position: absolute;
                        pointer-events: none;
                    }

                    &::before {
                        width: 8px;
                        height: 8px;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        border: 1px solid #737273;
                        border-radius: 1px;
                        top: 18px;
                        right: 12px;
                    }

                    &::after {
                        background-color: #fff;
                        width: 15px;
                        height: 6px;
                        top: 20px;
                        right: 9px;
                    }

                    label {
                        display: flex;
                        justify-content: space-between;
                        font-size: 10px;
                        padding: 1px 5px;
                        letter-spacing: 2px;
                        font-weight: 900;
                        text-transform: uppercase;
                        color: white;
                        text-align: center;
                        border-bottom-left-radius: 3px;
                        border-bottom-right-radius: 3px;
                        transition: background-color $time-plus;
                    }

                    select {
                        min-width: 100px;
                        width: 100%;
                        -webkit-appearance: none;
                        color: $text;
                        font-size: 14px;
                        font-family: 'Nunito', sans-serif;
                        appearance: none;
                        border: none;
                        border: 1px solid $outline;
                        border-radius: 0;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                        padding: 15px;
                        background-color: #fff;
                    }
                }
            }
            footer {
                display: flex;
                justify-content: flex-end;
                background-color: $bg;
                padding: 15px 25px;
                border-top: 1px solid $outline-lt;

                button {
                    box-sizing: border-box;
                    padding: 12px 20px;
                    border-radius: 4px;
                    font-size: 10px;
                    letter-spacing: 2px;
                    font-weight: 900;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: 
                        all $time-plus;

                    &.ok {
                        color: white;
                    }
                    &.cancel {
                        background-color: transparent;
                        margin-right: 10px;
                        padding: 12px 10px;

                        &:hover {
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
}